.user-main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.user-and-repos-details {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.user-canvas {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.profile-pic {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.user-canvas .profile-pic img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    z-index: 999;
}

.repos-canvas {
    width: 70%;
    margin-top: 3%;
}

.repos-canvas li {
    list-style: none;
}

.user-login .name {
    font-weight: bold;
    font-size: 25px;
}

.user-login .username {
    font-size: 20px;
    margin-top: -4vh;
}

.user-text-details {
    width: 260px;
}

.user-personal-details .blog {
    display: flex;
    flex-direction: row;
    color: transparent;
}

.user-personal-details .blog a {
    width: 230px;
    text-decoration: none;
}

.user-personal-details .blog p {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: transparent;
}

.user-personal-details .blog p:hover {
    text-decoration: underline;
}

.user-personal-details div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1%;
    height: 5vh;
    width: 100%;
}

.user-personal-details div svg {
    width: 10%;
    height: 100%;
}


.follow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.follow p {
    margin-left: 1%;
    margin-right: 1%;
}

.follow svg {
    width: 10%;
    height: 100%;
}

.follow-button {
    width: 100%;
}

.follow-button button {
    width: 100%;
    border-radius: 5px;
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    height: 5vh;
    border: 0.1vh solid var(--color-btn-border);
    cursor: pointer;
}

.follow-button button:hover {
    border: 0.1vh solid var(--color-btn-hover-border);
    background-color: var(--color-btn-hover-bg);
}

.follow-button button:focus {
    outline: 0;
}

@media (max-width: 1000px) and (min-width: 100px) {
    .user-and-repos-details {
        flex-direction: column;
    }

    .user-canvas {
        width: 100%;
        max-height: 150vh;
        min-height: max-content;
        border-bottom: 1px solid var(--color-neutral-muted-dark);
    }

    .follow-button {
        width: 100%;
    }

    .profile-pic {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 25%;
    }

    .user-login .username {
        font-size: 20px;
        margin-top: -3vh;
    }

    .repos-canvas {
        width: 100%;
    }
}